<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= subTitle %></p>
    <table>
      <% headings.forEach((heading) => { %>
      <tr>
        <th><%= heading.id %></th>
        <th><%= heading.term %></th>
        <th><%= heading.description %></th>
        <th><%= heading.references %></th>
      </tr>
      <%}) %> <% terms.forEach((term) => { %>
      <tr>
        <td id="col1"><%= term.id %></td>
        <td id="col2"><%= term.term %></td>
        <td id="col3"><%= term.description %></td>
        <td id="col4">
          <%= term.references %> <br />
          <br />
          <%= term.references2 %><br />
          <br />
          <%= term.references3 %>
        </td>
      </tr>
      <%}) %>
    </table>
  </body>
</html>
